{
    "atlas: install atlas using aconf rom":
    [
        {
        "TYPE": "jobType.PASSTHROUGH",
        "SYNTAX": "su -c 'file='/data/local/aconf_download' && touch $file  && echo url=https://mydownloadfolder.com/ > $file  && echo authUser='MyUser' >> $file && echo authPass='MyPass' >> $file && mount -o remount,rw /system && /system/bin/curl -s -k -L --fail --show-error --user MyUser:MyPass -o /system/bin/atlas.sh https://mydownloadfolder.com/scripts/atlas.sh && chmod +x /system/bin/atlas.sh && mount -o remount,ro /system && /system/bin/atlas.sh -ia'"
        }
    ]

    "atlas: directly from mad to aconf rom branch":
    [
        {
        "TYPE": "jobType.PASSTHROUGH",
        "SYNTAX": "su -c 'file='/data/local/aconf_download' && touch $file  && echo url=https://sub.dom.de > $file  && echo authUser='' >> $file && echo authPass='' >> $file && mount -o remount,rw /system && /system/bin/curl -s -k -L --fail --show-error --user User:Pass -o /system/bin/atlas.sh https://sub.dom.de/scripts/atlas.sh && chmod +x /system/bin/atlas.sh && mount -o remount,ro /system && /system/bin/atlas.sh -ia'"
        }
    ]
}
